{{!-- <div>
    <h2>Login:</h2>
    <form class="login-form">
        <div>
            <label>Username:</label>
            <input type="text" id="username-login"/>
        </div>
        <div>
            <label>Password:</label>
             <input type="password" id="password-login"/>
        </div>
        <div>
            <button type="submit" id="login">Login</button>
        </div>
    </form>
</div>

<script src="./assets/js/login.js"></script> --}}
    <section class="NavContainer">
      <!--   SEARCH BAR - DISABLED ON HOME/INDEX
      <section id="user-search">
        <input id="user-input" type="text" placeholder="Search the Galaxy" />
        <button id="searchBtn">Search</button> 
        <div id="img-card">-->
      <nav class="nav">
        <div class="nav-buttons">
          <a href="/"><button type="button" class="main" id="Home">Home</button></a>
          <a href="directory"><button type="button" id="directory">Directory</button></a>
          <a href="NASA"><button type="button" id="NASA">NASA</button></a>
          <a href="mythos"><button type="button" id="Mythos">Mythos</button></a>
          <a href="about"><button type="button" id="About">About</button></a>
             <a
        href="signup"
        ><button type="button" id="signup">Signup</button></a
      >
      </nav>
    </section>


<div class="row justify-space-between-md">
  <div class="login-card">
    <h2 class="page-title">Login</h2>
    <form class="form login-form">
      <div class="form-group">
        <label for="user-login">Username:</label>
        <input class="form-input" type="text" id="user-login" />
      </div>
      <div class="form-group">
        <label for="password-login">Password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">login</button>
      </div>
    </form>
  </div>

<script src="./assets/js/login.js"></script>