<div>
    <h2>Create New Account:</h2>
    <form class="form signup-form">
        <div class="form-group">
        <label for="user-signup">Username:</label>
        <input class="form-input" type="text" id="user-signup"/>
        </div>
        <div>
            <label for="email-signup">Email:</label>
            <input class="form-input" type="text" id="email-signup"/>

        </div>
        <div>
            <label for="password-signup">Password:</label>
            <input class="form-input" type="password" id="password-signup"/>
        </div>
        <div>
            <button class="btn btn-primary" type="submit" >Signup</button>
        </div>
    </form>
</div>

<!-- signup js file -->
  <script src="./assets/js/signup.js"></script>